<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My website</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <article class="article">
      <header class="header">
        <div class="container">
          <a href="#" class="logo">Anime worlds</a>
          <nav class="navbar">
            <a href="#" class="active">Home</a>
            <a href="#">Jenre</a>
            <a href="#">Book</a>
            <a href="#">Search</a>
          </nav>
        </div>
      </header>

      <section class="home">
        <div class="home-content">
          <h1>Your name</h1>
          <h3>Moral Story</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis
            voluptatibus, officiis tenetur voluptates itaque blanditiis
            exercitationem similique voluptatum natus quaerat corrupti
            aspernatur assumenda sunt saepe consequatur deserunt.
          </p>
          <div class="btn-box">
            <a href="https://www.imdb.com/title/tt5311514/" target="_blank"
              >Watch anime</a
            >
            <a
              href="https://makotoshinkai.fandom.com/wiki/Your_Name./Manga"
              target="_blank"
              >Read manga</a
            >
          </div>
        </div>
        <div class="home-sci">
          <a href="#"><i class="bx bxl-facebook"></i></a>
          <a href="#"><i class="bx bxl-twitter"></i></a>
          <a href="#"><i class="bx bxl-linkedin"></i></a>
        </div>
        <span class="home-imgHover"></span>
      </section>
    </article>
    <main class="main">
      <section class="banner">
        <div class="container"></div>
      </section>
    </main>
    <footer class="footer">
      <div class="container"></div>
    </footer>
  </body>
</html>
